.FormContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 1;
  border-radius: 8px;
  background: rgba(111, 111, 111, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(7.5px);
  position: relative;
  min-height: 400px;
}
.FormContainer textarea {
  font-family: sans-serif;
  outline: none;
  font-size: 12px;
}

.FormContainer textarea:focus {
  border: 2px solid grey;
  border-radius: 4px;
}

.FormContainer label {
  font-size: 12px;
  padding: 8px 0px 8px 0px;
  border-radius: 4px;
}

.FormContainer textarea {
  padding: 8px;
  resize: none;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
}
.ContactContainer {
  padding: 32px;
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 8vw 10vw;
  background-color: #fffdfc;
  border-radius: 8px;
}

.ContactContainer h1 {
  margin-bottom: 4px;
  font-weight: 900;
  color: #1a1a1a;
}

.ContactContainer p {
  font-weight: 300;
  color: #444;
}

.ContactContainer a {
  text-decoration: none;
  display: block;
  color: #1a1a1a;
}

.ContactButton {
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
  margin-bottom: 20px;
  margin-left: -16px;
  padding: 16px;
  transition: all 0.3s;
  border-radius: 8px;
  width: 250px;
}
.ContactButton:hover {
  border: 2px solid rgba(26, 26, 26, 0.15);
  transition: all 0.3s;
  background-color: #fff;
}
.ContactButton a {
  color: #1a1a1a;
}
.ContactButton:hover a {
  color: #1a1a1a;
}

.ContactIconContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
}

.ContactIcon {
  margin-left: -16px;
  padding: 16px;
  border-radius: 50px;
  transition: all 0.3s;
  border: 2px solid transparent;
}

.ContactIcon:hover {
  background-color: #fff;
  transition: all 0.3s;
  border: 2px solid rgba(26, 26, 26, 0.15);
}

.ContactInfoContainer {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  flex: 1;
  padding-left: 0px;
}

.ContactLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  cursor: default;
}

@media (max-width: 768px) {
  .FormContainer {
    display: flex;
    flex-direction: column;
    background-color: #fffdfc;
    border-radius: 8px;
    padding: unset;
    flex: 1;
    border-radius: 16px;
    box-shadow: unset;
    backdrop-filter: unset;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.27);
  }
  .ContactContainer h1 {
    margin-bottom: 16px;
  }
  .ContactIconContainer {
    margin: 8px 0px;
  }
  .ContactContainer p {
    margin-bottom: 16px;
  }
  .ContactContainer {
    flex-direction: column;
  }
  .ContactInfoContainer {
    padding-right: 0px;
  }
  .ContactIconContainer {
    margin-left: -16px;
  }
  .ContactIcon {
    margin-left: 0px;
    margin-top: 0px;
  }
  .ContactButton {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .ContactButton {
    margin-left: -16px;
  }
}
