.AboutContainer {
  background-color: #dfdfdf;
  margin: 12vw 10vw;
}
.AboutHeadingText {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}
.AboutText {
  line-height: 36px;
  flex: 1;
  font-size: 18px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.AboutTextContainer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .AboutTextContainer {
    flex-direction: column;
  }
  .AboutText {
    margin-right: 0px;
    font-size: 18px;
  }
  .AboutHeadingText {
    font-size: 36px;
  }
}
