.NavContainer {
  background: rgba(223, 223, 223, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
  position: sticky;
  top: -1px;
}

.NavContainer ul {
  padding-right: 80px;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 36px;
}

.NavLink {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
}
.HamburgerContainer {
  display: none;
}

@media (max-width: 768px) {
  .NavContainer ul {
    display: none;
  }
  .HamburgerContainer {
    display: flex;
  }
}
