.ProjectsContainer {
  background-color: #dfdfdf;
  margin: 12vw 10vw;
}

.ProjectHeadingText {
  text-align: left;
  font-size: 48px;
  margin-bottom: 50px;
}

.Project {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
  gap: 5vw;
  text-align: left;
}
.Project:last-child {
  margin-bottom: 0;
}

.Project h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #1a1a1a;
}
.Project p {
  font-size: 18px;
  line-height: 24px;
  color: #1a1a1a;
}

.ProjectsSubContainer {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.ProjectsSubContainer :nth-child(even) {
  flex-direction: row-reverse;
}
.ProjectPicture {
  flex: 1;
  width: 40vw;
  display: flex;
  object-fit: scale-down;
}

.ButtonContainer {
  font-weight: bold;
  padding-top: 0.8rem;

  margin-top: 16px;
  flex-direction: row;
}
.ButtonContainer :nth-child(odd) {
  background-color: transparent;
  border: solid 1px #c33232;
  color: #c33232;
}
.Button {
  background-color: #c33232;
  border: solid 1px transparent;
  padding: 0.5rem;
  font-size: calc(13px + 0.1vw);
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.ButtonContainer :nth-child(even) {
  margin-left: 8px;
}
.Button :active {
  background-color: grey;
  transition: all 0.1s ease-in;
}
.Button :hover {
  background-color: grey;
  transition: all 0.1s ease-in;
}

@media (max-width: 768px) {
  .ProjectHeadingText {
    font-size: 36px;
  }
  .Project {
    flex-direction: column;
  }
  .ProjectsSubContainer :nth-child(even) {
    flex-direction: column;
  }
  .ProjectPicture {
    width: 80vw;
  }
  .Project p {
    font-size: 18px;
    line-height: 24px;
    color: #1a1a1a;
  }
}
