.BlogContainer {
  margin: 8vw 10vw;
  display: flex;
  flex-direction: column;
}

.BlogPostsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.BlogContainer h1 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .BlogPostsContainer {
    grid-template-columns: 1fr;
  }
}
