.portfolio_container {
  display: flex;
  justify-content: center;
  text-align:center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  color: lightgrey;
  background-color: #333333;
  .portfolio_grid {
    width:100%;
    justify-content: center;
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(auto-fit, 350px);
    @media (max-width:768px){
      grid-template-columns: repeat(auto-fit, 85vw);
      gap: 10vw;
    }
  }
}
