.portfolio_container {
  display: flex;
  justify-content: center;
  text-align:center;
  flex-direction: column;
  gap:4rem;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: black;
  :nth-child(even){
    flex-direction: row-reverse;
    @media (max-width:768px) {
      flex-direction: column;
      
    }
  }
  background-color: #dfdfdf;
  h1{
    margin-top:0;
  }
}
