.skills_container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    text-align:center;
    padding-bottom:50px;
    color: black;
    background-color: #dfdfdf;
    h1{
        margin-top:0;
    }
    figcaption {
        font-size:0.9rem;
        margin-top:4px;
    }
    .icon_grid {
        display:grid;
        gap:1.8vw 1.8vw;
        grid-template-columns: repeat(6, 1fr);
        @media (max-width: 767px){
            gap:4vw;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    figure {
        margin:0;
        padding:0;
    }
}



