.skills_container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    text-align:center;
    padding-bottom:50px;
    color: black;
    background-color: #dfdfdf;
    figure {
        margin:0;
        padding:0;
    }
    .icon_grid{
        margin-top:40px;
        display:grid;
        gap:2vw 4vw;
        grid-template-columns: repeat(3, 1fr);
    }
}



