body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

article,
section {
  h1 {
    font-size: 2em;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.83;
  }
  h6 {
    font-size: 0.67em;
  }
}
