.nav {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
}

.home {
  min-height: 100vh;
  padding-top:60px;
  background-image: url("./components/media/coding.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(24, 26, 27);
}

.projectCube{
  color:black;
  margin-left:3vw;
  padding:16px;
  background-color: lightgrey;
  box-shadow: 1px 1px 1px 1px #888888;
  border-radius:8px 8px 8px 8px;
  min-width:23vw;
  max-width:23vw;
  height:45vh;
  
}

.about {
  padding-top: 60px;
  min-height: 50vh;
  color: black;
  background-color: #dfdfdf;
}

.port {
  padding-top: 60px;
  min-height: 70vh;
  background-color: #333333;
  color:lightgrey;
}

.contact {
  padding-top: 30px;
  min-height: 15vh;
  background-color: #dfdfdf;
  color:white;
}

.allShared {
  scroll-behavior: smooth;
  text-align: center;
  color: #efefef;
}

.about p {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  background-color: lightgrey;
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ea0a6;
}

.spacer {
  min-height: 25vh;
}
.footerSpacer {
  min-height: 40vh;
}

.contain {
  object-fit: scale-down;
}

.contactTab{
  text-align: left;
  width:64px;
  padding:10px;
}

.aboutPara{
  margin-left:3vw;
  text-align: left;
  padding-bottom:5vh;
  padding-left:32vw;
  padding-right:30vw;
  color:black;
}

.jumbo {
  color:black;
  background-color: rgba(180, 180, 180, 0.9);
}

@media only screen and (max-width: 600px) {
  .aboutPara{
    padding-bottom:2vh;
    padding-left:2vw;
    padding-right:0;
  }
  .projectCube{
    min-width:85vw;
    height:45vh;
  }
  .port{
    padding-bottom:5vh;
  }
}

@media only screen and (max-width: 1400px) {
  .aboutPara{
    padding-bottom:2vh;
    padding-left:2vw;
    padding-right:0;
  }
}
.iconRow{
  padding-left:"20vw";
  padding-right:"20vw"; 
}

img {
  padding:6px;
}