.nav {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  background-color: #404040;
  font-weight: bold;
  padding: 2px;
}

.allShared {
  scroll-behavior: smooth;
  text-align: center;
  color: #efefef;
}

img {
  padding: 6px;
}

/* LANDING */
.home {
  min-height: 100vh;
  padding-top: 60px;
  background-image: url("./components/media/coding.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(24, 26, 27);
}

.jumbo {
  color: black;
  background-color: rgba(180, 180, 180, 0.9);
}

.spacer {
  min-height: 25vh;
}
/* ABOUT */
.about {
  padding-top: 50px;
  min-height: 50vh;
  background-color: #b2b2b2;
  color: #333333;
}
.about p {
  font-family: "Lato", sans-serif;
  color: #333333;
}

.aboutPara {
  margin-left: 3vw;
  text-align: left;
  padding-left: 32vw;
  padding-right: 30vw;
  color: lightgray;
}

/* SKILLS */
.skills {
  font-weight: bold;
  padding-top: 50px;
  min-height: 50vh;
  color: black;
  background-color: #dfdfdf;
}
.skillTab {
  width: 7vw;
  min-width: 7vw;
  display: inline-block;
}
.skillTab:hover {
  background-color: lightslategray;
  transition: all 0.3s ease-out;
}

/* PORTFOLIO */
.projectCube {
  color: black;
  margin-left: 3vw;
  padding: 16px;
  background-color: lightgrey;
  box-shadow: 1px 1px 1px 1px #888888;
  border-radius: 8px 8px 8px 8px;
  min-width: 23vw;
  max-width: 23vw;
  height: 45vh;
}

.port {
  padding-top: 60px;
  min-height: 70vh;
  background-color: #333333;
  color: lightgrey;
}

/* CONTACT */
.contact {
  padding-top: 30px;
  min-height: 80vh;
  background-color: #dfdfdf;
  color: black;
}

.contactTab {
  text-align: left;
  width: 64px;
  padding: 10px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .aboutPara {
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 0;
  }
  .projectCube {
    min-width: 85vw;
    height: 45vh;
  }
  .projectCube img {
    max-height: 65%;
  }
  .port {
    padding-bottom: 5vh;
  }
  .skillTab {
    width: 25vw;
  }
}

@media only screen and (max-width: 1400px) {
  .aboutPara {
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 0;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  background-color: lightgrey;
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ea0a6;
}
