.nav {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}

.home {
  padding-top: 30px;
  min-height: 100vh;
  background-image: url("./components/media/coding.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(24, 26, 27);
}

.about {
  padding-top: 60px;
  min-height: 100vh;
  color: black;
  background-color: #dfdfdf;
}

.port {
  padding-top: 60px;
  min-height: 100vh;
  background-color: #dfdfdf;
  color: black;
}

.contact {
  padding-top: 60px;
  min-height: 100vh;
  background-color: #333333;
}

.allShared {
  scroll-behavior: smooth;
  text-align: center;
  color: #efefef;
}

.about p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  background-color: lightgrey;
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ea0a6;
}

.spacer {
  min-height: 25vh;
}
.footerSpacer {
  min-height: 40vh;
}

.contain {
  object-fit: scale-down;
}

@media only screen and (max-width: 600px) {
  .contactForm {
    min-width: 90vw;
  }
  .jumbo {
    min-width: 100vw;
  }
}
.contactForm {
  width: 40vw;
  text-align: left;
}

.jumbo {
  background-color: grey;
  color: black;
  opacity: 0.9;
}
